@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --background: black;
    --text: white;
    --selection: hsla(0, 0%, 40%, 0.4);
    --button: hsl(0, 0%, 10%);
    --button-shadow: hsla(0, 0%, 11%, 0.7);
    --button-hover: hsl(0, 0%, 11%);
    --button-active: hsl(0, 0%, 12%);
    --button-border: hsl(0, 0%, 12%);

    --toast: hsl(108, 17%, 13%);
    --toast-border: hsl(108, 17%, 22%);

    --dialog: hsl(0, 0%, 8%);
    --dialog-border: hsl(0, 0%, 11%);

    --editor: hsl(0, 0%, 10%);
    --editor-border: hsl(0, 0%, 12%);

    --code: hsl(0, 0%, 8%);
    --code-shadow: hsla(0, 0%, 11%, 0.7);
    --code-hover: hsl(0, 0%, 9%);
    --code-active: hsl(0, 0%, 11%);
    --code-border: hsl(0, 0%, 11%);

    --class: #FFC799;
    --number: #FFC799;
    --identifier: #FFF;
    --sign: #9B9B9B;
    --string: #99FFE4;
    --keyword: #A0A0A0;
    --comment: #A19595;
    --diff-deletion: hsla(0, 100%, 50%, 0.2);
    --diff-addition: hsla(135, 100%, 50%, 0.2);
}

@media (prefers-color-scheme: light) {
    :root {
        --background: hsl(0, 0%, 100%);
        --text: hsl(0, 0%, 7%);
        --selection: hsla(0, 0%, 40%, 0.4);
        --button: hsl(0, 0%, 90%);
        --button-shadow: hsla(0, 0%, 89&, 0.7);
        --button-hover: hsl(0, 0%, 89%);
        --button-active: hsl(0, 0%, 88%);
        --button-border: hsl(0, 0%, 88%);

        --toast: hsl(108, 17%, 87%);
        --toast-border: hsl(108, 17%, 78%);

        --dialog: hsl(0, 0%, 92%);
        --dialog-border: hsl(0, 0%, 89%);

        --editor: hsl(0, 0%, 90%);
        --editor-border: hsl(0, 0%, 88%);

        --code: hsl(0, 0%, 92%);
        --code-shadow: hsla(0, 0%, 89%, 0.7);
        --code-hover: hsl(0, 0%, 91%);
        --code-active: hsl(0, 0%, 89%);
        --code-border: hsl(0, 0%, 89%);

        --class: #FFC799;
        --number: #FFC799;
        --identifier: #000000;
        --sign: #9B9B9B;
        --string: #99FFE4;
        --keyword: #A0A0A0;
        --comment: #A19595;
        --diff-deletion: hsla(0, 100%, 50%, 0.2);
        --diff-addition: hsla(135, 100%, 50%, 0.2);
    }
}

body {
    background-color: var(--background);
    font-family: "Inter", sans-serif;
    color: var(--text);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
    flex-wrap: wrap;
    text-align: center;
    overflow: hidden;
}

*::selection {
    background-color: var(--selection) !important;
}

.github-logo {
    cursor: pointer;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.spacer {
    width: 100%;
}

button {
    color: var(--text);
    text-align: center;
    display: inline-block;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Liberation Mono", "DejaVu Sans Mono", monospace;
    padding: 0.9rem;
    border-radius: 0.7rem;
    border: 1px solid var(--button-border);
    background-color: var(--button);
    box-shadow: 0 0 40px var(--button-shadow);
    transition: all 0.3s ease;
}

button:hover {
    background-color: var(--button-hover);
    transition: all 0.3s ease;
}

button:active {
    scale: 0.98;
    background-color: var(--code-active);
    transition: all 0.3s ease;
}

#code-preview {
    white-space: pre-wrap;
    text-align: left;
    line-height: 1.5rem;
    display: inline-block;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Liberation Mono", "DejaVu Sans Mono", monospace;
    padding: 0.9rem;
    border-radius: 0.7rem;
    border: 1px solid var(--code-border);
    background-color: var(--code);
    max-width: 95%;
    box-shadow: 0 0 40px var(--code-shadow);
    transition: all 0.3s ease;
}

#code-preview:hover {
    background-color: var(--code-hover);
    transition: all 0.3s ease;
}

#code-preview:active {
    scale: 0.98;
    background-color: var(--code-active);
    transition: all 0.3s ease;
}

.toast {
    color: var(--text) !important;
    position: fixed;
    opacity: 0;
    scale: 0.95;
    opacity: 0;
    bottom: 20px;
    right: -20px;
    padding: 20px;
    border-radius: 0.7rem;
    border: 1px solid var(--toast-border);
    background-color: var(--toast);
    color: #fff;
    display: block;
    transition: all 0.3s ease;
}

.toast.show {
    scale: 1;
    opacity: 1;
    bottom: 20px;
    right: 20px;
    transition: all 0.3s ease;
}

#create-dialog {
    pointer-events: none;
    display: none;
    color: #fff;
    border: 1px solid var(--dialog-border);
    background-color: var(--dialog);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#code-input {
    color: var(--text) !important;
    pointer-events: none;
    height: 382px;
    width: 759px;
    border: none;
    background-color: var(--editor);
    padding: 15px !important;
    color: #fff;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Liberation Mono", "DejaVu Sans Mono", monospace;
    border: 1px solid var(--editor-border);
    border-radius: 8px;
    resize: none;
    outline: none;
    transition: all 0.3s ease;
}

dialog[open] {
    pointer-events: none;
    opacity: 1;
    scale: 1;
    transition: all 0.3s ease-in-out allow-discrete;
}

@starting-style {
    dialog[open] {
        pointer-events: none;
        display: none;
        opacity: 0;
        scale: 0.95;
        transition: all 0.3s ease-in-out allow-discrete;
    }
}

dialog {
    pointer-events: none;
    display: none;
    opacity: 0;
    scale: 0.95;
    transition: all 0.3s ease-in-out allow-discrete;
}

dialog::backdrop {
    backdrop-filter: blur(0px);
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.3s ease-in-out allow-discrete;
}

dialog[open]::backdrop {
    backdrop-filter: blur(7px);
    background-color: rgba(0, 0, 0, 0.295);
    transition: all 0.3s ease-in-out allow-discrete;
}


.hljs-keyword {
    color: var(--keyword) !important;
    font-weight: 500 !important;
}

.hljs-tag {
    color: var(--keyword) !important;
    font-weight: 500 !important;
}

.hljs-name {
    color: var(--class) !important;
    font-weight: 500 !important;
}

.hljs-variable {
    color: var(--identifier) !important;
    font-weight: 500 !important;
}

.hljs-title {
    color: var(--class) !important;
    font-weight: 500 !important;
}

.hljs-string {
    color: var(--string) !important;
    font-weight: 500 !important;
}

.hljs-property {
    color: var(--identifier) !important;
    font-weight: 500 !important;
}

.hljs-comment {
    color: var(--comment) !important;
    font-weight: 500 !important;
}

.hljs-built_in {
    color: var(--sign) !important;
    font-weight: 500 !important;
}

.hljs-number {
    color: var(--number) !important;
    font-weight: 500 !important;
}

.hljs-regexp {
    color: var(--string) !important;
    font-weight: 500 !important;
}

.hljs-doctag {
    color: var(--comment) !important;
    font-weight: 500 !important;
}

.hljs-selector-tag,
.hljs-selector-id,
.hljs-selector-class {
    color: var(--class) !important;
    font-weight: 500 !important;
}

.hljs-selector-psuedo,
.hljs-selector-attr {
    color: var(--sign) !important;
    font-weight: 500 !important;
}

.hljs-addition {
    padding: 3px;
    color: var(--identifier) !important;
    background-color: var(--diff-addition) !important;
    font-weight: 500 !important;
}

.hljs-deletion {
    padding: 3px;
    color: var(--identifier) !important;
    background-color: var(--diff-deletion) !important;
    font-weight: 500 !important;
}